In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\USER\Downloads\Sales_add.csv')

In [3]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
import scipy.stats as stats

In [5]:
from scipy.stats import ttest_rel

# Question 1

## Hypothesis

H0: there is no increase in the sales after stepping into digital marketing

H1: there is increase in the sales after stepping into digital marketing

In [6]:
t_sta,p_value = ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [7]:
t_sta,p_value

(-12.09070525287017, 6.336667004575778e-11)

In [8]:
if p_value<0.05:
    print('Reject the Null hypothesis')
else:
    print('Accept the Null hypothesis')

Reject the Null hypothesis

 Here the null hypothesis is rejected which means there is an increase in the sale after stepping into digital marketing.

# Question 2

In [9]:
from scipy.stats import chi2_contingency

In [10]:
campare = pd.crosstab(data['Region'],data['Manager'])

In [11]:
print(campare)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [12]:
chi2_contingency(campare)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

Here the p value is greater than 0.05 so we can conclude that there is a dependecy between the region and manager.